/*******************************************************************************
            Slider
*******************************************************************************/
.slider {
    position: relative;
}
.slide {
    height: 100%;
    position: absolute;
    width: 100%;
}
.slide.left {
    left: -100%;
}
.slide.right {
    left: 100%;
}